<nav>
	<a href="/login" class="link">Login</a>
	<a href="/register" class="link">Sign Up</a>
</nav>
<div class="wrapper">
<div class="row">
<div class="title col-8">
	<h1 class="main">FargoTech</h1>
	<h4 class="main2" style="font-size: 1.4rem;"><i>Connecting Producers and Buyers</i></h4>
</div>
<div class="col-4">
	<p id="pone">Support</p>
	<p id="ptwo">Convenience</p>
	<p id="pthree">Reliability</p>
</div>
</div>
<div class="wrap-input100 " data-validate = "Valid email is: a@b.c">
	<input class="input100" type="text" name="search" style="width: 50vh;">
	<span class="focus-input100" data-placeholder="Search by Crop Name"></span>
	<a href="/search"><i class="fa fa-search" style="position: absolute; right: 0; top: 20px;"></i></a>
</div>

<div class="know">
	Know More<br>
	<a href="#knowmore"><i class="fa fa-arrow-down"></i></a>
</div>

<div class="know-context">
	<a name="knowmore"></a>
	
	<p><b>FargoTech</b> is a boon for all the farmers or those who want to venture into the world of farming. It provides you with all the facilities you needs along  the journey. For all those new to our website, here are some instructions to get the best out of <b>FargoTech</b>.</p>
	<ol style="margin-bottom: 6px; padding-left: 5vw; padding-right: 5vw;">
	<li style="margin-bottom: 6px;">    If you are new to the website, click on register and create your personal secure account. Thereafter, you can log in to your account using your I’d and password. The registration is free of cost and hence, everyone can make an account here.</li>
	
	<li>On logging in to your account, you will see certain features specially made for you. </li>
	<ul style="margin-bottom: 6px;">
	<li >   The New Government Policies will help you glance over all the latest news in the field of agriculture and the policies introduced by the Government of India, which will help boost production.</li>
	<li>    Current weather : will enable you to check the current weather conditions in your location with just one click, anytime of the day!</li>
	<li>    Farmers Assistant is a voice/text controlled search engine. You can use it to clear any of your farming related doubts, by typing it or speaking it. Fascinating, isn’t it?</li>
	<li>    Alert messages feature will notify you about any important message. For example: It will give you a warning or advisor of any weather change or any locust/pest attacks, which might harm the crops.</li>
	</ul>
	 <li>You can also add details of the crops harvested by you, so that the buyers/or other farmers can directly contact you and access the product or collaborate. This would promote the interaction between consumers and producers, eliminating the need of the middlemen.</li>
	</ol>
	
	
	<p>This is our attempt to bring food granaries and technology closer. So, lets take a step towards the future where the oldest profession joins hands with the youngest one. </p>
	
	<!-- <p style="text-align: center;font-weight: bold;">BECOME A PART OF FargoTech TODAY!</p>   -->
	

</div>


</div>