<p>
    Search results for 'rice':
</p>
<hr>
<div class="row margin">
    <div class="col-10">
        <div class="row">
        <div class="col-3">
            <div class="row in-pic"><img src="/static/assets/image (1).png" height="160px" width="100%" ></div>
            <div class="row r1"><p>Farmer's name: Shambhu </p><p>District: Rohtak, Haryana</p><button>Contact</button></div>
        </div>
        <div class="col-3">
            <div class="row in-pic"><img src="/static/assets/image (2).png" height="160px" width="100%" ></div>
            <div class="row r1"><p>Farmer's name:  Reema </p><p>District: Khanna, Punjab</p><button>Contact</button></div>
        </div>
        <div class="col-3">
            <div class="row in-pic"><img src="/static/assets/image (3).png" height="160px" width="100%" ></div>
            <div class="row r1"><p>Farmer's name: Mohan</p><p>District: Bathinda, Punjab</p><button>Contact</button></div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="row in-pic"><img src="/static/assets/image (4).png" height="160px" width="100%" ></div>
            <div class="row r1"><p>Farmer's name: Ram Shankar</p><p>District: Firozpur, Punjab </p><button>Contact</button></div>
        </div>
        <div class="col-3">
            <div class="row in-pic"><img src="/static/assets/image (5).png" height="160px" width="100%" ></div>
            <div class="row r1 "><p>Farmer's name: Priya</p><p>District: Indore, MP</p><button>Contact</button></div>
        </div>
        <div class="col-3">
            <div class="row in-pic"><img src="/static/assets/image (6).png" height="160px" width="100%" ></div>
            <div class="row r1"><p>Farmer's name: Ramesh</p><p>District: Mirzapur, UP</p><button>Contact</button></div>
        </div>
    </div>
    </div>
</div>